footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 102, 159, 1);
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
}